{
  "openapi": "3.1.0",
  "info": {
    "title": "Get botnim related information",
    "description": "Retrieves various botnim related information from the botnim api",
    "version": "v1.3.0"
  },
  "servers": [
    {
      "url": "https://www.botnim.co.il"
    }
  ],
  "paths": {
    "/botnim/retrieve/budgetkey/common_knowledge": {
      "get": {
        "description": "Full text search on the budgetkey common knowledge",
        "operationId": "search_budgetkey__common_knowledge",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/budgetkey/common_knowledge__dev": {
      "get": {
        "description": "Full text search on the budgetkey common knowledge",
        "operationId": "search_budgetkey__common_knowledge__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/takanon/common_knowledge__dev": {
      "get": {
        "description": "Full text search on the takanon common knowledge",
        "operationId": "search_takanon__common_knowledge__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/takanon/common_knowledge": {
      "get": {
        "description": "Full text search on the takanon common knowledge",
        "operationId": "search_takanon__common_knowledge",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/takanon/legal_text__dev": {
      "get": {
        "description": "Full text search on the takanon legal text",
        "operationId": "search_takanon__legal_text__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/takanon/legal_text": {
      "get": {
        "description": "Full text search on the takanon legal text",
        "operationId": "search_takanon__legal_text",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/takanon/ethics_decisions__dev": {
      "get": {
        "description": "Full text search on the ethics committee decisions",
        "operationId": "search_takanon__ethics_decisions__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query for ethics committee decisions",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/common_budget_knowledge__dev": {
      "get": {
        "description": "Full text search on budget-related common knowledge (unified bot)",
        "operationId": "search_unified__common_budget_knowledge__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/common_budget_knowledge": {
      "get": {
        "description": "Full text search on budget-related common knowledge (unified bot)",
        "operationId": "search_unified__common_budget_knowledge",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/common_takanon_knowledge__dev": {
      "get": {
        "description": "Full text search on Knesset bylaws common knowledge (unified bot)",
        "operationId": "search_unified__common_takanon_knowledge__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/common_takanon_knowledge": {
      "get": {
        "description": "Full text search on Knesset bylaws common knowledge (unified bot)",
        "operationId": "search_unified__common_takanon_knowledge",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/legal_text__dev": {
      "get": {
        "description": "Full text search on Knesset bylaws and related laws (unified bot)",
        "operationId": "search_unified__legal_text__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/legal_text": {
      "get": {
        "description": "Full text search on Knesset bylaws and related laws (unified bot)",
        "operationId": "search_unified__legal_text",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/legal_advisor_opinions__dev": {
      "get": {
        "description": "Search formal legal opinions by the Knesset legal advisor (unified bot)",
        "operationId": "search_unified__legal_advisor_opinions__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/legal_advisor_opinions": {
      "get": {
        "description": "Search formal legal opinions by the Knesset legal advisor (unified bot)",
        "operationId": "search_unified__legal_advisor_opinions",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/legal_advisor_letters__dev": {
      "get": {
        "description": "Search correspondence with the Knesset legal advisor (unified bot)",
        "operationId": "search_unified__legal_advisor_letters__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/legal_advisor_letters": {
      "get": {
        "description": "Search correspondence with the Knesset legal advisor (unified bot)",
        "operationId": "search_unified__legal_advisor_letters",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/committee_decisions__dev": {
      "get": {
        "description": "Search Knesset committee decisions and resolutions (unified bot)",
        "operationId": "search_unified__committee_decisions__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/committee_decisions": {
      "get": {
        "description": "Search Knesset committee decisions and resolutions (unified bot)",
        "operationId": "search_unified__committee_decisions",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/ethics_decisions__dev": {
      "get": {
        "description": "Search ethics committee decisions on MK conduct (unified bot)",
        "operationId": "search_unified__ethics_decisions__dev",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    },
    "/botnim/retrieve/unified/ethics_decisions": {
      "get": {
        "description": "Search ethics committee decisions on MK conduct (unified bot)",
        "operationId": "search_unified__ethics_decisions",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Free text search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
